<div class="card text-center">
  <%= image_tag("file:///Users/evanchild/Downloads/funny.jpeg", class: "card-img-top") %>
  <div class="card-body">
    <h4 class="card-title">D the Dog Child</h4>
  </div>
</div>
