<div>
  <%= image_tag("westley-and-buttercup", class: "img-fluid") %>
  <div class="p-3 mb-2 bg-dark text-white text-center">
      Nonsense. You're just saying that because nobody ever has.
  </div>
</div>
