<div class="card text-center">
  <%= image_tag("pexels-ono-kosuki-5974275.jpg", class: "card-img-top") %>
  <div class="card-body">
    <h4 class="card-title">The Gift of Agency</h4>
    <p class="card-text">"Wherefore, the Lord God gave unto man that he should act for himself."</p>
    <p class="card-text">2 Nephi 2:16</p>
  </div>
</div>
